<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex">
        <a class="navbar-brand flex-grow-1">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarCollapse">
            <div class="navbar-nav">
                <a class="nav-link">Sklep</a>
                <a class="nav-link">Forum</a>
                <a class="nav-link">Mapa</a>
                <a class="nav-link">O nas</a>
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Szukaj">
                <button class="btn btn-outline-primary" type="submit">Szukaj</button>
            </form>
        </div>
    </div>
</nav>
