<div class="card bg-light m-4 border-0 rounded-0">
    <div class="card-header text-center text-light bg-primary rounded-0">
        <b>{{event.city}}</b> - {{event.name}}
    </div>
    <div class="card-body bg-secondary">
        <div class="row">
            <div class="col-4">
                <img class="ratio ratio-16x9" src="{{images[index].url}}" alt="{{images[index].alt}}">
            </div>
            <div class="col-8">
                <p class="card-text text-light">{{event.desc}}</p>
                <div class="accordion mb-3">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <a class="accordion-button collapsed" style="text-decoration:none" type="button" data-bs-toggle="collapse" href="#collapse1{{index}}" aria-controls="#collapse1" aria-expanded="false">
                                Informacje
                            </a>
                        </h2>
                            <div id="collapse1{{index}}" class="accordion-collapse collapse" aria-labelledby="informacje o wydarzeniu">
                                <div class="accordion-body text-light">
                                    <p><b>Miejsce</b><br>
                                    {{event.city}}, {{event.street}} {{event.address}}</p>
                                    <p><b>Data</b><br>
                                        {{event.date}}
                                    <p><b>Kontakt</b><br>
                                    Telefon: {{event.mobile}} E-mail: {{event.email}}</p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <a class="accordion-button collapsed" style="text-decoration:none" type="button" data-bs-toggle="collapse" href="#collapse2{{index}}" aria-controls="#collapse2" aria-expanded="false">
                                Lista uczestników
                            </a>
                        </h2>
                        <div id="collapse2{{index}}" class="accordion-collapse collapse" aria-labelledby="Lista uczestników wydarzenia">
                            <div class="accordion-body overflow-auto text-light" style="max-height:30vh;">
                                <p *ngFor="let player of event.players">{{player.name}} "{{player.nickName}}" {{player.lastName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
