<div class="card bg-light text-dark m-4 rounded-0">
    <div class="card-header text-center bg-primary rounded-0">
        <b>{{event.city}}</b> - {{event.name}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <img class="ratio ratio-16x9" src="https://assets.dicebreaker.com/roll-player-board-game-gameplay.jpg/BROK/resize/1200x1200%3E/format/jpg/quality/70/roll-player-board-game-gameplay.jpg">
            </div>
            <div class="col-8">
                <p class="card-text">{{event.desc}}</p>
                <div class="accordion mb-3">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <a class="accordion-button collapsed" style="text-decoration:none" type="button" data-bs-toggle="collapse" href="#collapse1{{index}}">
                                Informacje
                            </a>
                        </h2>
                            <div id="collapse1{{index}}" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <p><b>Miejsce</b><br>
                                    {{event.city}}, {{event.street}} {{event.address}}</p>
                                    <p><b>Data</b><br>
                                        {{event.date}}
                                    <p><b>Kontakt</b><br>
                                    Telefon: {{event.mobile}} E-mail: {{event.email}}</p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <a class="accordion-button collapsed" style="text-decoration:none" type="button" data-bs-toggle="collapse" href="#collapse2{{index}}">
                                Lista uczestników
                            </a>
                        </h2>
                            <div id="collapse2{{index}}" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <p *ngFor="let player of event.players">{{player.name}} "{{player.nickName}}" {{player.lastName}}</p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
