<!-- imie nazwisko nr email event-->
<div class="card bg-dark text-light rounded-0" id="form">
    <div class="card-header text-center bg-primary text-dark rounded-0">
        Formularz zapisu
    </div>
    <div class="card-body p-0">
        <form class="m-4 text-dark" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-4">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nameInput" name="nameInput" placeholder="Imię" [(ngModel)]="nameInput" #name="ngModel" required>
                        <label for="nameInput">Imię</label>
                    </div>
                    <div *ngIf="name.invalid && (name.dirty || name.touched)"
                        class="text-light mb-3">

                        <div *ngIf="name.errors?.['required']">
                            Pole imię jest wymagane.
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nickNameInput" name="nickNameInput" placeholder="Pseudonim" [(ngModel)]="nickNameInput" required #nickName="ngModel">
                        <label for="nickNameInput" class="form-label">Pseudonim</label>
                    </div>
                    <div *ngIf="nickName.invalid && (nickName.dirty || nickName.touched)"
                        class="text-light mb-3">

                        <div *ngIf="nickName.errors?.['required']">
                            Pole pseudonim jest wymagane.
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="lastNameInput" name="lastNameInput" placeholder="Nazwisko" [(ngModel)]="lastNameInput" required #lastName="ngModel">
                        <label for="lastNameInput" class="form-label">Nazwisko</label>
                    </div>
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                        class="text-light mb-3">

                        <div *ngIf="lastName.errors?.['required']">
                            Pole nazwisko jest wymagane.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="emailInput" name="emailInput" placeholder="E-mail" [(ngModel)]="emailInput" #email="ngModel" required>
                <label for="emailInput" class="form-label">E-mail</label>
            </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                class="text-light mb-3">

                <div *ngIf="email.errors?.['required']">
                    Pole email jest wymagane.
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="mobileInput" name="mobileInput" placeholder="Telefon" [(ngModel)]="mobileInput" required #mobile="ngModel">
                <label for="mobileInput" class="form-label">Telefon</label>
            </div>
            <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)"
                class="text-light mb-3">

                <div *ngIf="mobile.errors?.['required']">
                    Pole telefon jest wymagane.
                </div>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="eventInput" name="eventInput" placeholder="Wybierz wydarzenie" [(ngModel)]="eventInput" required #event="ngModel">
                    <option *ngFor="let event of events;let i=index" value="{{i}}">{{event.name}}</option>
                </select>
                <label for="eventInput" class="form-label">Wybierz wydarzenie</label>
            </div>
            <div *ngIf="event.invalid && (event.dirty || event.touched)"
                class="text-light mb-3">

                <div *ngIf="event.errors?.['required']">
                    Pole wydarzenie jest wymagane.
                </div>
            </div>
            <button type="submit" class="btn btn-primary text-dark">Zapisz się</button>
        </form>
    </div>
</div>
